Brotli==1.0.9
brotlicffi==1.0.9.2
ConfigParser==5.3.0
cryptography==3.3.1
Cython==0.29.34
dl==0.1.0
docutils==0.20.1
func==0.12
future_fstrings==1.2.0
HTMLParser==0.0.2
imageio==2.21.2
importlib_metadata==4.8.1
ipaddr==2.2.0
ipython==8.4.0
ipywidgets==7.7.2
keyring==24.2.0
lockfile==0.12.2
lxml==4.6.5
matplotlib==3.6.2
mock==5.0.2
mypy_extensions==0.4.3
numpy==1.24.3
ordereddict==1.1
orderedset==2.0.3
pandas==2.0.2
pretty==0.1
protobuf==3.20.3
pygraphviz==1.11
pyOpenSSL==20.0.1
pyOpenSSL==23.2.0
pywin32==300
scandir==1.10.0
sets==0.3.2
setuptools_scm==7.1.0
simplejson==3.17.6
storage==0.0.4.3
subprocess32==3.5.4
tomli==2.0.1
typing_extensions==3.10.0.2
typing_extensions==3.7.4.3
urllib3_secure_extra==0.1.0
vmprof==0.4.15
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.6.0
